.dropdown-menu {
  background-color: rgb(65, 65, 65);
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .dropdown-menu .show {
   margin-top: -50px;
  }

  .navbar {
    display: block;
  }
}